# .env example

# Конфигурация базы данных PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tfidf
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db/tfidf

# Конфигурация Valkey (альтернатива Redis)
VALKEY_HOST=valkey
VALKEY_PORT=6379
VALKEY_DB=0

# Конфигурация приложения
# Версия приложения
APP_VERSION=1.0.0

# development | release
ENV=development

# Конфигурация хранилища файлов
STORAGE_FOLDER=/app/storage

# Настройки аутентификации
AUTH_JWT_SECRET=your_jwt_secret_key
AUTH_EXPIRE_MINUTES=60
AUTH_ALGORITHM=HS256

# Конфигурация логов
LOG_LEVEL=INFO
LOG_DIR=./logs