<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesta TFIDF</title>
</head>
<body>
    <h1>Загрузить файл</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Выберите файл:</label>
        <input type="file" id="file" name="file" required>
        <button type="submit">Загрузить</button>
    </form>
    {% if is_duplicate %}
    <p style="color: blue;">Данный уже был загружен ранее.</p>
    {% endif %}
    {% if result %}
    <h2>Result Table</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Слово</th>
                <th>TF</th>
                <th>IDF</th>
            </tr>
        </thead>
        <tbody>
            {% for word in result %}
            <tr>
                <td>{{ word.word }}</td>
                <td>{{ word.tf }}</td>
                <td>{{ word.idf }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>